__pycache__/
*.pyc
.venv/
.env
staticfiles/
.tmp_import_*.xlsx
.tmp_import_*.csv
online/imports/.tmp_import_*
offline-windows/build/
.sixth/
output/
wheels/
.playwright-cli/
.pub-cache/
/login-bg2.png
/home-bg.png
dist_package/

flutter/.dart_tool/
flutter/.flutter-plugins-dependencies
flutter/.idea/
flutter/build/
flutter/android/.gradle/
flutter/android/app/build/
flutter/ios/Pods/
flutter/ios/.symlinks/
