{% extends "base.html" %}
{% block title %}Làm bài{% endblock %}
{% block content %}
<div class="card">
  <h3>{{ attempt.exam.name }}</h3>
  <p class="small">Nhóm: {{ attempt.exam.subject.code }} | Số câu: {{ items|length }}</p>
  <form method="post" action="{% url 'submit_exam' attempt.id %}">
    {% csrf_token %}
    {% for it in items %}
    <div class="card question-card">
      <p><b>Câu {{ it.order }}.</b> {{ it.question.content }}</p>
      {% for ans in it.question.answers.all %}
      <label style="display:block; margin: 6px 0;">
        {% if it.question.question_type == 'multi' %}
          <input type="checkbox" name="q_{{ it.question.id }}" value="{{ ans.id }}">
        {% else %}
          <input type="radio" name="q_{{ it.question.id }}" value="{{ ans.id }}">
        {% endif %}
        <b>{{ ans.label }}.</b> {{ ans.content }}
      </label>
      {% endfor %}
    </div>
    {% endfor %}
    <button class="btn" type="submit">Nộp bài</button>
  </form>
</div>
{% endblock %}
